.navbar {
   background-color: RoyalBlue;
  background: linear-gradient(to top,#163354 20%, #214B7A 50%, #1E3F64 80%);;
   border-color: #134784;
   position: fixed;
   width: 100%;
}

.wh {
  color: rgba(255,255,255,1);
  font-size: 2em;
  font-variant: small-caps;
}
.wb {
  color: rgba(255,255,255,1);
  font-size: 2.5em;
  font-style: small-caps;
}
.text-sm {
  text-align: left;
  color: lightgrey;
  font-size: 1em;
}
.addon-info {
  margin-top: 1%;
}
.text-big {
  font-size: 2em;
  text-align: left;

}
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 10em;

}
.carousel-caption {
  top: 40%;
  bottom: -40%;
}
